.grid_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: #373d43 1px solid;
  border-radius: 10px;
  padding: 32 27 32 25;
}

.grid_item :nth-child(1) {
  font-size: 1.25rem;
}

/* .grid_item :nth-child(2) { */
/*   color: var(--color-grid-secondary); */
/* } */

.grid_item :nth-child(3) {
  margin: 1rem 0;
}

.grid_item a {
  font-size: 1rem;
  display: flex;
  position: relative;
  width: fit-content;
  gap: 0.5rem;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  transition:
    transform 1s ease,
    border-color 1s ease;
  transform: translateY(0);
  cursor: pointer;
}

.grid_item a:hover {
  border-color: white;
  transform: translateY(-10px);
}
.grid_item a:first-child {
  transform: translateY(0);
}
